body {
  height: 500vh;
}

.grid {
  display: grid;
  background-color: whitesmoke;
  grid-template-rows: 75px 100px 300px 300px;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  grid-template-areas: 
  "header header header "
  "bad bad bad-next"
  "bad bad bad-next"
  "religion religion religion"
  ;
}

.header {
  background-color: black;
  grid-area: header;
}

.bad {
  background-color: red;
  grid-area: bad;
}

.bad-next {
  background-color: red;
  grid-area: bad-next;
}

.religion {
  background-color: red;
  grid-area: religion;
}