.wrapper {
  background-color: black;
  margin: auto;
  width: 984px;
  height: 656px;
  display: flex;
  justify-content:center;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  width: 760px;
  height: 20px;
  background-color: grey;
}

section {
  display: grid;
  grid-template-columns: repeat(4, 190px);
  grid-template-rows: repeat(3, 175px);
}
