@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

body {
  background-color:#F6F6F6;
  padding: 50px 25px;
  max-width: 770px;
  width: 100%;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 10px;
  border-bottom: 2px solid black;
  margin-bottom: 20px;
}

h1 {
  font-size: 82px;
  font-weight: 600;
}

h4 {
  font-size: 40px;
  font-weight: 600;
}

 nav {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  text-transform: uppercase;
  line-height: 1.5;
 }

 nav ul:nth-child(2) {
  margin-right: 350px;
 }

.wrapper {
  display: flex;
  flex-wrap: wrap;
  background-color: whitesmoke;
  justify-content: space-between;
  margin-top: 80px;
}

.box {
  background-color: aqua;
  height: 220px;
  width: 220px;
  margin-bottom: 30px;
  border-radius: 50%;
}

.box:nth-child(-n+3){
  background-color: brown;
}

.box:nth-child(n+4):nth-child(-n+6){
  background-color: bisque;
}