@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Teko:wght@300;400;500;600;700&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    font-family: 'Kanit', sans-serif;
    font-family: 'Teko', sans-serif;
}

section {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.wrap {
    box-sizing: border-box;
    margin: 100px 0px 100px 0px;
    width: 40%;
    height: 800px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 20px 20px 20px;
}

.musicInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.musicInfo__img {
    margin-top: 10px;
    margin-bottom: 30px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;;
}

.musicInfo__text--bold {
    font-size: 32px;
    font-weight: 600;
}

.musicInfo__text--small {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 400;
    opacity: 0.4;
}

.wrap1Btn {
    display: flex;
    justify-content: center;
}

.wrap1Btn > button {
        margin: 30px 25px 25px 25px;
        background-color: #aaf0d1;
        height: 40px;
        width: 120px;
        border-radius: 30px;
        border: none;
}



.musicList {
    margin: auto;
    width: 92%;
    border: none;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
}

.musicList__column {
    display: flex;
    justify-content: center;
    align-items: center;
}

.musicList__icon {
    display: flex;
    justify-content: center;
}

.list__text {
    display: flex;
    flex-direction: column;
    font-size: 21px;
}


.list__name {
    font-size: 15px;
}


.list__img {
    width: 70px;
    height: 70px;
    border-radius: 20px;
}

.currentMusic {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin: auto;
    border: none;
    background-color:#aaf0d1;
    width: 95%;
    height: 80px;
    border-radius: 50px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

}

.currentMusic__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: black;
}

.currentMusic__name {
    font-size: 18px;
    opacity: 0.5;
}

.currentMusic__sub {
    font-size: 25px;
}

.current__icons {
    display: flex;
   flex-direction: row;
   justify-content: center;
}

.current__icon {
    width: 33%;
}

.mainImg {
    display: flex;
    margin: 80px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.mainText {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainText__big {
    font-size: 21px;
    font-weight: 400;
    opacity: 0.5;
}

.mainText__sub {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 20px;
}