@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Teko:wght@300;400;500;600;700&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    font-family: 'Kanit', sans-serif;
    font-family: 'Teko', sans-serif;
}

section {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.wrap {
    box-sizing: border-box;
    margin: 100px 0px 100px 0px;
    width: 40%;
    height: 800px;
    border-radius: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    
}

.nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 20px 20px 20px;
}

.musicInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.musicInfo__img {
    margin-top: 10px;
    margin-bottom: 30px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: #aaf0d1 0px 15px 25px, #aaf0d1 0px 5px 10px;
}

.musicInfo__text--bold {
    font-size: 32px;
    font-weight: 600;
}

.musicInfo__text--small {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 400;
    opacity: 0.4;
}

.wrap1Btn {
    display: flex;
    justify-content: center;
}

.wrap1Btn > button {
        margin: 30px 25px 25px 25px;
        background-color: #aaf0d1;
        height: 40px;
        width: 120px;
        border-radius: 30px;
        border: none;
}



.musicList {
    margin: 8px auto;
    width: 92%;
    border: none;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
}

.musicList__column {
    display: flex;
    justify-content: center;
    align-items: center;
}

.musicList__icon {
    display: flex;
    justify-content: center;
}

.list__text {
    display: flex;
    flex-direction: column;
    font-size: 21px;
}


.list__name {
    font-size: 15px;
}


.list__img {
    width: 70px;
    height: 70px;
    border-radius: 20px;
}

.currentMusic {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    border: none;
    background-color:#aaf0d1;
    width: 95%;
    height: 80px;
    border-radius: 50px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.currentMusic__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: black;
}

.currentMusic__name {
    font-size: 18px;
    opacity: 0.5;
}

.currentMusic__sub {
    font-size: 25px;
}

ul {
    width:40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.current__icons {
    display: flex;
}

.current__icon {
    width: 33%;
}

.mainImg {
    display: flex;
    margin: 80px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.mainImg > img {
  border: 2px solid white;
  border-radius: 30px;
  box-shadow: #aaf0d1 0px 15px 25px, #aaf0d1 0px 5px 10px;
}

.mainText {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainText__big {
    font-size: 21px;
    font-weight: 400;
    opacity: 0.5;
}

.mainText__sub {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 20px;
}

.song-slider{
    margin: auto;
    margin-top: 20px;
    width: 80%;
    position: relative;
}

.seek-bar{
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 10px;
    background: #7fc8a9;
    overflow: hidden;
    cursor: pointer;
}

.seek-bar::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 1px;
    height: 20px;
    box-shadow: -400px 0 0 400px #d5eebb;
}

.current-time,
.song-duration{
    font-size: 14px;
}

.song-duration{
    position: absolute;
    right: 0;
}

.controls{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 20px;
}

.play-btn{
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #d5eebb;
    cursor: pointer;
    border: none;
}

.play-btn span{
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translateY(-50%);
    width: 10px;
    height: 30px;
    border-radius: 2px;
    background: #5f7a61;
    transition: .5s;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.play-btn span:nth-child(2){
    left: 55%;
    transform-origin: center;
}

.play-btn.pause span:nth-child(2){
    transform: translateY(-50%) scaleY(0);
}

.play-btn.pause span:nth-child(1){
    width: 35%;
    left: 53%;
    transform: translate(-50%, -50%);
    border-radius: 0;
    clip-path: polygon(0 0, 100% 50%, 100% 50%, 0% 100%);
}

.play-btn.pause{
    animation: pulse 2s linear infinite;
}

.btn{
    width: 40px;
    height: 40px;
    background: #d5eebb;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
}

